/*font*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
/*general*/
body{
    color: #F2EDD4;
    font-family:'Hind Siliguri', sans-serif;!important; /* geht nicht, wird vom system überschrieben*/
    font-size: 3rem;!important;
}
#lustSommer{
    font-family:'Pacifico', sans-serif;
    font-weight: 400;
    font-size: 30px;
    text-align:left;
}
h2{
    font-family:'Lateef', sans-serif;
    font-size: 50px;
    margin-bottom: 200px;!important;
    color: #1F2B33;!important;
}
/* header*/
header{
    color: #F2EDD4;
    background-color: #1F2B33; /* blau im hintergrund*/
}
#natural{
    font-family:Pacifico, sans-serif;
    font-weight: 400;
    font-size: 30px;
    text-align:center;
    margin-bottom:0;
    padding-top: 50px;
}
#tonic{
    font-family:'Lateef', sans-serif;
    font-weight: 400;
    font-size: 40px;
    text-align:center;
    border-bottom: 2px solid #F2EDD4;
}
/* navbar */
.nav-link{
    color: #F2EDD4; !important;
    margin-bottom: 20px;
}
.nav-link:hover{
    color: #F2EDD4;
    font-weight:bold;
}
/* video */
video { /* parent*/
    max-width:100%;
}
/* main */
section{
    padding-top: 70px;
    padding-bottom: 70px;
}
.text-left{
    margin-bottom: 30px;
}
.text-right{
    margin-bottom: 30px;
}
#mann{
    width: 90%;
    float: right;
}
#botanicals{
    width: 100%;
    float: left;
}
/* buttons */
.btn-group-1{
    float: right;
}
.btn-group-2{
    float: left;
}
.btn-group{
    background-color: #1F2B33;!important;
    margin-top: 20px;
}
/*bilder*/
.float-left{
    width: 300px;
    padding-right: 30px;
}
.float-left-2{
    width: 500px;
    padding-right: 30px;
}
/* 3. Abschnitt*/
.card-group{
    padding-bottom: 50px;
    padding-top:100px;
}
.card-titel{
    text-align: center;
    font-family:'Pacifico', sans-serif;
    color: #1F2B33;
}
/*gallery*/
.carousel-inner img {
    border-radius: 18px;
    border-bottom-style: solid;
    border-top-style: solid;
    border-color: #1F2B33;
}
#carouselExampleSlidesOnly{
    margin-top: 50px;
}
/* footer */
footer{
    background-color: #FBF5E0;
    padding: 70px;
    margin-top: 100px;
}