/*font*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

/*general*/
body{
    color: #F2EDD4;
    font-family:'Hind Siliguri', sans-serif;!important; /* geht nicht, wird vom system überschrieben*/
    font-size: 3rem;!important;
}
#lustSommer{
    font-family:'Pacifico', sans-serif;
    font-weight: 400;
    font-size: 30px;
    text-align:left;
}
h2{
    font-family:'Open Sans', sans-serif;
    font-size: 50px;
    margin-bottom: 200px;!important;
    color: #1F2B33;!important;
}
/* header*/
header{
    color: #F2EDD4;
    background-color: #1F2B33; /* blau im hintergrund*/
}
.col-4{
    text-align: center;
    padding: 20px;
}
#natural{
    font-family:Pacifico, sans-serif;
    font-weight: 400;
    font-size: 30px;
    text-align:center;
    margin-bottom:0;
    padding-top: 50px;
}
#tonic{
    font-family:'Lateef', sans-serif;
    font-weight: 400;
    font-size: 40px;
    text-align:center;
    border-bottom: 2px solid #F2EDD4;
}

/* navbar */
.nav-link{
    color: #F2EDD4; !important;
    margin-bottom: 20px;
}
.nav-link:hover{
    color: #FFFFFF;
    font-weight:bold;
}

/* video */
video { /* parent*/
    max-width:100%;
}

/* main */
section{
    padding-top: 70px;
    padding-bottom: 70px;
    margin-top: 100px;
    margin-bottom: 200px;
}
/*zwischen video und 1.abschnitt*/
#abstand{
    margin-top: 100px;
}
/*illustration*/
#mann{
    width: 90%;
    float: right;
}
/* button */
.btn-group{
    float: right;
}
.btn-group{
    background-color: #1F2B33;!important;
    margin-top: 20px;
}
/*bild*/
.float-left{
    width: 300px;
}
/* 3. Abschnitt*/
.card-titel{
    text-align: center;
    font-family:'Pacifico', sans-serif;
    color: #1F2B33;
}
/* footer */
footer{
    background-color: #FBF5E0;
    padding: 70px;
    margin-top: 100px;
}
